{% extends 'base.html' %}
{% load static %}
{% block title %}FishShop | О нас{% endblock %}
{% block content %}
<section class="py-5 text-center container">
<div class="row py-lg-5">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="font-weight-light">О нас</h1>
    <p class="lead text-muted">Мы - небольшая семейная ферма, занимаемся выращиванием радужной форели. Наша ферма находится в экологически чистом районе Московской области, в 20 км от города Клин. Мясо у нашей рыбки очень вкусное и нежное. Форель продаем в сыром виде и горячего копчения (коптим на яблоневой щепе). Вес свежей рыбки от 600 гр до 1 кг, горячего копчения - 500-700 гр.</p>
  </div>
</div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'store/img/fresh3.JPG' %}" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'store/img/fresh2.JPG' %}" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'store/img/smoked2.jpg' %}" class="card-img-top" alt="...">
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'store/img/fresh.jpg' %}" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'store/img/fresh4.jpg' %}" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'store/img/smoked.jpg' %}" class="card-img-top" alt="...">
          </div>
        </div>
      </div>

    </div>
</div>
{% endblock content %}