{% extends 'base.html' %}
{% load static %}
{% block title %}Корзина{% endblock %}
{% load thumbnail %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="box-element">
      <a class="btn btn-outline-dark" href="{% url 'index' %}">&#x2190; На главную</a>

      <br>
      <br>

      <table class="table">
        <tr>
        <th><h5>Общее кол-во: <strong id="total-items">{{ order.get_total_items }}</strong> шт.</h5></th>
        <th>
          {% if order.get_total_items > 0 and dates %}
			{% if user.is_auntificated %}
            	<a style="float: right; margin:5px" class="btn btn-warning make-order" href="#">Заказать</a>
			  {% else %}
			  <p><a href="{% url 'login' %}">Войти</a> или <a href="{% url 'signup' %}">зарегистрироваться</a>, чтобы сделать заказ</p>
			  {% endif %}
          {% endif %}
        </th>
        </tr>
      </table>
	  <div>
      <div class="row">
      <div style="flex: 2; margin-bottom: 10px">
        <h5><strong>Дата доставки:</strong></h5></div>
			{% if dates %}
          <div style="flex: 13">
            <select class="form-select" id="delivery_date" aria-label="Пример выбора по умолчанию">
              <option selected{% if order.delivery_date %} value="{{ order.delivery_date.id }}">{{ order.delivery_date }}{% else %}>Выберите дату доставки{% endif %}</option>
              {% for date in dates %}
                <option value="{{ date.id }}">{{ date }}</option>
              {% endfor %}
            </select>
           </div>
			  <div class="row">
				<div style="flex: 2">
				  <h5><strong>Адрес доставки:</strong></h5></div>
				<div style="flex: 13">
				  <select class="form-select" id="address" aria-label="Пример выбора по умолчанию">
					<option selected{% if order.address %} value="{{ order.address.id }}">{{ order.address }}{% else %}>Выберите адрес доставки{% endif %}</option>
					{% for address in addresses %}
					<option value="{{ address.id }}">{{ address }}</option>
					{% endfor %}
				  </select>
				</div>
			  </div>
      {% else %}
        <div style="flex: 5"><strong>Нет доступной даты доставки</strong></div>
        <div class="row">
          <div style="flex: 5">Вы сможете сделать заказ, когда появится новая дата доставки.</div>
        </div>
			{% endif %}
	  </div>
	</div>

    <br>

    <div class="box-element">
    <div class="cart-row">
      <div style="flex: 2"></div>
      <div style="flex: 2"><strong>Наименование</strong></div>
      <div style="flex: 2"><strong>Описание</strong></div>
      <div style="flex: 1"><strong>Цена</strong></div>
      <div style="flex: 1"><strong>Кол-во (шт.)</strong></div>
    </div>
    {% for item in items %}
    <div class="cart-row">
      {% thumbnail item.product.image "974x730" crop="center" upscale=True as im %}
      <div style="flex: 2; display: inline-block"><img class="row-image" src="{{ im.url }}" alt="product"></div>
      {% endthumbnail %}
      <div style="flex: 2"><p>{{ item.product.name }}</p></div>
      <div style="flex: 2"><p>{{ item.product.description }}</p></div>
      <div style="flex: 1"><p>{{ item.product.price|floatformat:0 }} р. / кг.</p></div>
      <div style="flex:1">
        <p class="quantity" id="item-quantity-{{ item.product.id }}">{{ item.quantity }}</p>
        <div class="quantity">
          <img data-product={{ item.product.id }} data-action="add" class="chg-quantity update-cart" src="{% static  'store/img/arrow-up.png' %}" alt="arrow-up">
          <img data-product={{ item.product.id }} data-action="remove" class="chg-quantity update-cart" src="{% static  'store/img/arrow-down.png' %}" alt="arrow-down">
        </div>
      </div>
    </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <script type="text/javascript" src="{% static 'store/js/makeOrder.js' %}"></script>
  <script type="text/javascript" src="{% static 'store/js/cart.js' %}"></script>
{% endblock script %}