{% extends "base.html" %}
{% load static %}
{% block title %}FishShop | Контакты{% endblock %}
{% block content %}
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">Контакты</h1>
	<p class="lead">По всем вопросам и предложениям обращайтесь на наш <a href="mailto:support@pochta.ru">e-mail</a></p>
  	<img class="img-thumbnail" style="background: transparent; border: 0; height: 500px" src="{% static 'store/img/thanks.png' %}">
  </div>
{% endblock %}