{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}FishShop | Главная{% endblock %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Радужная форель</h1>
  <p class="lead">Закажите самую вкусную форель:</p>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
    {% for product in product_list %}
    <div class="col">
      <div class="card mb-6 shadow-sm h-100">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
        </div>
        <div class="card-body">
          {% thumbnail product.image "974x730" crop="center" upscale=True as im %}
          <img src="{{ im.url }}" class="card-img-top" alt="...">
          {% endthumbnail %}
          <h1 class="card-title pricing-card-title">{{ product.price|floatformat:0 }} &#8381; <small class="text-muted">/ кг.</small></h1>
          <p class="lead">Средний вес рыбки {{ product.description }}</p>
		  {% if product.id not in order_items or not user.is_auntificated %}
          <button data-product={{ product.id }} data-action="add" class="btn btn-warning add-btn update-cart">Добавить в корзину</button>
		  {% else %}
          <button data-product={{ product.id }} data-action="remove" class="btn btn-outline-warning add-btn update-cart">В корзине</button>
		  {% endif %}
        </div>
     </div>
	</div>
    {% endfor %}
  </div>
</div>
{% endblock %}