{% extends 'base.html' %}
{% load static %}
{% block title %}Заказы{% endblock %}
{% load thumbnail %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="box-element">
      <a class="btn btn-outline-dark" href="{% url 'index' %}">&#x2190; На главную</a>
    <br>
    <br>

    {% for order in orders %}
    <div class="box-element">
      <div class="card-header">
        <h5 style="margin-top: 20px;" class="my-0 font-weight-normal">Номер заказа: <strong>{{ order.id }}</strong></h5>
        {% if order.status == 'formed' %}
        <h5> Статус заказа: <strong>заказ сформирован и ожидает обработки</strong></h5>
        {% elif order.status == 'processed' %}
        <h5> Статус заказа: <strong>заказ обработан и ожидает оплаты</strong></h5>
        {% elif order.status == 'paid' %}
        <h5> Статус заказа: <strong>заказ оплачен</strong></h5>
        {% elif order.status == 'shipped' %}
        <h5> Статус заказа: <strong>заказ отправлен</strong></h5>
        {% endif %}
        <br>
      </div>
      <div class="cart-row">
        <div style="flex: 2"></div>
        <div style="flex: 2"><strong>Наименование</strong></div>
        <div style="flex: 1"><strong>Цена</strong></div>
        <div style="flex: 1"><strong>Кол-во (шт.)</strong></div>
        <div style="flex: 1"><strong>Общий вес</strong></div>
        <div style="flex: 1"><strong>Общая стоимость</strong></div>
      </div>
      {% for item in order.orderitem_set.all %}
        <div class="cart-row">
          {% thumbnail item.product.image "974x730" crop="center" upscale=True as im %}
          <div style="flex: 2; display: inline-block"><img class="row-image" src="{{ im.url }}" alt="product"></div>
          {% endthumbnail %}
          <div style="flex: 2"><p>{{ item.product }}</p></div>
          <div style="flex: 1"><p>{{ item.product.price|floatformat:0 }} р. / кг.</p></div>
          <div style="flex: 1"><p>{{ item.quantity }} шт.</p></div>
          <div style="flex: 1"><p>{{ item.weight }} гр.</p></div>
          <div style="flex: 1"><p>{{ item.get_total|floatformat:0 }} р.</p></div>
        </div>
      {% endfor %}
        <div class="cart-row">
          <div style="flex: 7"><p><h5>Общее кол-во: <strong>{{ order.get_total_items }} шт.</strong></h5></div>
          <div style="flex: 2"><p><h5>Полная стоимость: <strong>{{ order.get_total_price|floatformat:0 }} р.</strong></h5></div>
        </div>
      <div class="cart-row">
      <div style="flex: 7">
        <h5>Дата доставки: <strong>{{ order.delivery_date }}</strong></h5>
      </div>
      </div>
      <div class="cart-row">
      <div style="flex: 5">
        <h5>Адрес доставки: <strong>{{ order.address }}</strong></h5>
      </div>
      <div style="flex: 1">
        {% if order.status == 'processed' %}
        <a  class="btn btn-primary make-payment {{ order.id }}" href="#">Оплатить</a>
		  {% elif order.status == 'paid'%}
		  <p class="btn btn-success disabled">Оплачено</p>
        {% endif %}
      </div>
      </div>
    </div><br>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}
{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'store/js/cart.js' %}"></script>
  <script type="text/javascript">
  let payButtons = document.getElementsByClassName("make-payment")
  for (let i = 0; i < payButtons.length; i++) {
      payButtons[i].addEventListener('click', function (){
          let orderId = payButtons[i].className.split(" ")[payButtons[i].className.split(" ").length - 1]
		  makePayment(orderId)
	  })
  }

  function makePayment(orderId){
      let url = {% url 'make_payment' %};
      fetch(url, {
      method: "POST",
      headers:{
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken,
      },
      body:JSON.stringify({
          'order_id': orderId
      })
  })
		  .then((response) => response.json())
		  .then((data) => {
            if(data === 'Success') {
                console.log('Result:', data);
                window.location.href = {% url 'success_payment' %}
            } else {
                alert('Ошибка при оплате.');
            }
          })
  }
  </script>
{% endblock script %}